/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie<=11
*/

:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --header-background: #293449;
    --basic-background: #f1f5f7;
    --background-phone: #f3f7f9;
    --header-background-active: #161d29;
    --header-background-active-2: #1d2739;
    --white: #ffffff;
    --white-opacity: rgba(255, 255, 255, 0.5);
    --white-bg-opacity: rgba(255, 255, 255, 0.3);
    --black: #000000;
    --black-opacity: rgba(0, 0, 0, 0.3);
    --basic-link: #32425c;
    --basic-greylight: #c5c5c5;
    --special-yellowlight: #ffd180;
    --social-btn: #212a3a;
    --basic-grey: #3d546f;
    --catalog-title: #f2f6f8;
    --old-price: #a9a9a9;
    --success: #5fbb2d;
    --error: #ba2732;
    --logo-shadow: #b52933;
    --logo-shadow-active: #8d1e26;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-greenlight: #8ed78f;
    --light-grey: #eaeaea;
    --buy-activ: #518534;
    --background-promo: #b8a581;
    --section-title: #f9f5f0;
    --filter-background: #f7f3ec;
    --output: #444444;
    --border-pag: #E5E5E5;
    --popup-background: #f4f4f4;
    --scale: #d7dcde;
    --button-shadow: #367315;
    --article-shadow: rgba(0, 0, 0, 0.15);
    --icon-home: #c1c6ce;
    --button-shadow-top: #405069;
    --slider-header: rgba(0, 0, 0, 0.25);
    --offers-hover: rgba(197, 197, 197, 0.3);
    --offers-active: rgba(169, 169, 169, 0.3);
    --manufacturers-shadow: rgba(0, 0, 0, 0.15);
    --scale-bar: #00CA74;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.svg-icon {
    fill: currentColor;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 500px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    background-color: var(--basic-red);
}

.button:active {
    background-color: var(--error);
}


/* Header */

.header-top {
    background-color: var(--header-background);
}

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: block;
    background-color: var(--basic-red);
    padding-top: 12px;
    text-align: center;
    width: 220px;
    padding-right: 1px;
    box-shadow: 0 5px 0 var(--logo-shadow);
}

.header-logo:active {
    background-color: var(--error);
    box-shadow: 0 5px 0 var(--logo-shadow-active);
}

.search {
    margin: 0;
    padding: 0;
    margin-right: auto;
    position: relative;
}

.search input::-webkit-input-placeholder {
    color: var(--white);
}

.search input::-moz-placeholder {
    color: var(--white);
}

.search input::placeholder {
    color: var(--white);
}

.search input {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    background-color: inherit;
    border: none;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 42px;
}

.search label {
    position: absolute;
    top: 12px;
    left: 17px;
}

.search input:active,
.search input:focus {
    color: var(--black);
    background-color: var(--white);
}

.seach-icon:hover {
    fill-opacity: 1;
}

.search input:hover~label .seach-icon path {
    fill-opacity: 1;
}

.search input:active~label .seach-icon path,
.search input:focus~label .seach-icon path {
    fill: var(--basic-red);
    fill-opacity: 1;
}

.header-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: var(--white);
}

.header-link svg {
    position: absolute;
    top: 13px;
    left: 11px;
}

.header-link-bookmark {
    display: inline-block;
    vertical-align: middle;
    min-width: 153px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 33px;
}

.header-link-cart {
    display: inline-block;
    vertical-align: middle;
    min-width: 137px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 36px;
}

.header-link:active {
    background-color: var(--header-background-active);
}

.header-link:hover svg {
    fill-opacity: 1;
}

.header-link:active svg {
    fill-opacity: 0.3;
}

.header-link:active span {
    color: var(--white-opacity);
}

.header-link-add {
    background-color: var(--basic-red);
}

.header-link-add:hover {
    background-color: var(--basic-red);
}

.header-link-add:active {
    background-color: var(--error);
    color: var(--white-opacity);
}

.header-link-order {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 17px 9px 19px;
    color: var(--white);
    background-color: var(--basic-green);
}

.header-link-order:hover {
    background-color: var(--success)
}

.header-link-order:active {
    color: var(--white-opacity);
}

.header-bottom {
    background-color: var(--basic-background);
    padding-bottom: 60px;
}

.header-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 47px;
    padding-bottom: 10px;
    min-height: 158px;
}

.header-info {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 94px;
    margin-top: -4px;
    width: 197px;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-red);
}

.header-contacts {
    margin-right: auto;
    min-width: 270px;
}

.header-link-phone {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 5px 4px 31px;
    margin-right: 15px;
    margin-bottom: 2px;
    min-width: 270px;
    text-align: center;
    font-weight: bold;
    border: 3px solid var(--white);
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    background-color: var(--background-phone);
}

.header-link-phone:active {
    color: var(--error)
}

.header-link-phone::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 35px;
    width: 18px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    padding-right: 24px;
    background-repeat: no-repeat;
}

.header-address {
    margin: 0;
    padding: 0;
    padding-right: 3px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--text-address);
    width: 270px;
}

.authorization-list {
    display: flex;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    list-style: none;
}

.authorization-item+.authorization-item {
    margin-left: 10px
}

.authorization-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    background-color: var(--white);
    position: relative;
}

.authorization-link:hover {
    color: var(--basic-red);
}

.authorization-link:hover .icon-login path {
    fill: var(--basic-grey);
}

.authorization-link:active .icon-login path {
    fill: var(--basic-greylight);
}

.authorization-link:active {
    color: var(--basic-greylight);
}

.authorization-link-login {
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 27px;
}

.icon-login {
    position: absolute;
    top: 13px;
    left: 18px;
}

.authorization-link-registration {
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.profile {
    margin-left: auto;
    min-width: 300px;
}

.profile-authorization {
    display: none;
}

.profile-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 41px;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    list-style: none;
    background-color: var(--white);
}

.profile-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 21px;
    color: var(--black)
}

.profile-link-info {
    margin-top: 5px;
    margin-left: 6px;
}

.profile-name {
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 2px;
}

.profile-link-logout {
    margin-top: 5px;
    margin-right: 8px;
}

.profile-link:active {
    color: var(--basic-greylight);
}

.profile-link:hover .profile-svg path {
    fill: var(--basic-grey);
}

.profile-link:active .profile-svg path {
    fill: var(--basic-greylight);
}

.account-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.account-item {
    position: relative;
}

.account-item+.account-item {
    margin-left: 33px;
}

.account-item+.account-item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -18px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--basic-link);
}

.account-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-link);
    display: inline-block;
    vertical-align: middle;
}

.account-link:hover {
    color: var(--basic-red);
}

.account-link:active {
    color: var(--basic-greylight);
}

.header-navigation-list {
    margin: 0;
    padding: 0;
    min-height: 60px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--basic-link);
    box-shadow: inset 0px -5px 0px var(--header-background);
}

.header-navigation-item {
    flex-grow: 1;
}

.navigation-link {
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    color: var(--white);
}

.header-navigation-item:first-child a {
    padding-left: 24px;
}

.header-navigation-item:last-child a {
    padding-right: 19px;
}

.navigation-link:hover {
    background-color: var(--header-background);
}

.navigation-link:active {
    color: var(--white-opacity);
    background-color: var(--header-background-active-2);
}

.offers {
    margin-top: 59px;
    margin-bottom: 59px;
}

.offers-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.offers-item {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 22px;
    min-height: 123px;
    position: relative;
}

.offers-item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
    padding-right: 150px;
}

.offers-item-link {
    display: inline-block;
    vertical-align: middle;
    min-width: 135px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 120px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--white-bg-opacity);
}

.offers-item-link:hover {
    background-color: var(--offers-hover);
}

.offers-item-link:active {
    background-color: var(--offers-active);
}

.offers-item-materials {
    background-color: var(--special-yellow);
}

.offers-item-materials::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    top: 30px;
    right: 43px;
}

.offers-item-tool {
    background-color: var(--special-blue);
}

.offers-item-tool::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 61px;
    top: 33px;
    right: 31px;
}

.offers-item-equipment {
    background-color: var(--special-lilac);
}

.offers-item-equipment::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 62px;
    top: 31px;
    right: 31px;
}

.offers-item-sales {
    background-color: var(--special-greenlight);
}

.offers-item-sales::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    width: 59px;
    height: 72px;
    top: 25px;
    right: 45px;
}

.offers-item-delivery {
    background-color: var(--special-yellow);
}

.offers-item-delivery::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 63px;
    top: 31px;
    right: 31px;
}

.offers-promo {
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
}

.offers-promo-second {
    background-color: var(--background-promo);
    background-image: url("../img/promo-hammerdrill.jpg");
    background-repeat: no-repeat;
    -o-object-fit: contain;
    object-fit: contain;
}

.offers-promo-first {
    background-color: var(--background-promo);
    background-image: url("../img/promo-drill.jpg");
    background-repeat: no-repeat;
    -o-object-fit: contain;
    object-fit: contain;
}

.slider {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider-card {
    display: none;
}

.slider-card-current {
    display: block
}

.slider-header {
    min-height: 104px;
    padding-top: 23px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 97px;
    background-color: var(--slider-header);
}

.slider-title {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.slider-header p {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.slider-button {
    min-width: 192px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-left: 24px;
    max-width: 250px;
    margin-bottom: 10px;
}

.slider-arrow {
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
}

.slider-next {
    transform: rotate(180deg);
    top: 121px;
    right: 20px;
}

.slider-previous {
    top: 121px;
    left: 24px;
}

.slider-controls {
    position: absolute;
    bottom: 37px;
    left: 295px;
    z-index: 10;
    display: flex;
    min-width: 30px;
    justify-content: space-between;
}

.slider-controls button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    border-radius: 50%;
}

.slider-controls .slider-current {
    background-color: var(--basic-red);
}

.promo-img {
    width: 620px;
    height: 266px;
}

.promo-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.promo-card p {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.popular {
    margin-bottom: 70px
}

.section-title {
    display: flex;
    justify-content: space-between;
    background-color: var(--section-title);
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
}

.popular-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.button-popular {
    margin-right: 14px;
    width: 192px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

.button-manufacturers {
    margin-right: 19px;
    width: 192px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
    margin-top: -1px;
}

.popular-item {
    margin-top: 20px;
    margin-right: 20px;
    width: 220px;
    display: flex;
}

.popular-item:nth-child(4) {
    margin-right: 0;
}

.manufacturers-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.manufacturers {
    margin-bottom: 70px;
    padding-top: 2px;
}

.manufacturers-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 5px;
    min-width: 220px;
    min-height: 145px;
    border: 1px solid var(--border-pag);
}

.manufacturers-item:nth-child(4n) {
    margin-right: 0;
}

.manufacturers-item:hover {
    box-shadow: 0px 4px 20px var(--manufacturers-shadow);
}

.manufacturers-item:active {
    opacity: 0.5;
}

.manufacturers-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.manufacturers-link img {
    -o-object-fit: cover;
    object-fit: cover;
    background-color: var(--white);
}

.service {
    background-color: var(--basic-background);
    padding-top: 64px;
}

.title-service {
    margin-bottom: 25px;
}

.service-text {
    margin: 0;
    padding: 0;
    margin-left: -1px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.service-text:last-of-type {
    margin-bottom: 70px;
}

.service-slider {
    display: flex;
}

.service-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 80px;
    position: relative;
    margin-bottom: 99px;
}

.service-list::after {
    content: "";
    position: absolute;
    top: -45px;
    right: 0;
    width: 10px;
    height: 279px;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
}

.service-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--basic-link);
    color: var(--white);
}

.service-item-active {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--white);
    color: var(--basic-link);
}

.service-item button {
    border: 0;
    background-color: inherit;
    color: inherit;
    min-width: 240px;
    height: 62px;
    padding-left: 22px;
    text-align: start;
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.service-item:not(.service-item-active) button {
    box-shadow: inset 0px 1px 0px var(--button-shadow-top), inset 0px -1px 0px var(--header-background);
}

.service-item:not(.service-item-active):hover {
    background-color: var(--header-background);
}

.service-card-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-grow: 1;
}

.service-card-delivery {
    display: none;
    background-image: url("../img/delivery-img.png");
    background-color: var(--basic-background);
    background-position: 100% 22px;
    background-repeat: no-repeat;
    flex-grow: 1;
}

.service-card-guarantee {
    display: none;
    background-image: url("../img/guarantee-img.png");
    background-color: var(--basic-background);
    background-position: 100% -2px;
    background-repeat: no-repeat;
    flex-grow: 1;
    margin-right: -8px;
}

.service-card-credit {
    display: none;
    background-image: url("../img/credit-img.png");
    background-color: var(--basic-background);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    flex-grow: 1;
    margin-right: -10px;
}

.service-card-title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-link);
    margin-bottom: 27px;
    width: 315px;
}

.service-card-title-guarantee {
    margin-bottom: 24px;
}

.service-card-text {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 27px;
    width: 315px;
}

.button-credit {
    min-width: 195px;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.service-card-active {
    display: block;
}

.company-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 70px;
}

.company-about-us {
    width: 480px;
    margin-right: auto;
}

.company-contacts {
    width: 300px;
}

.company-title,
.company-contacts-title {
    margin-bottom: 23px;
}

.company-contacts-title {
    margin-left: -1px
}

.company-info,
.company-delivery {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.company-info {
    margin-bottom: 26px;
}

.company-delivery {
    margin-bottom: 3px;
}

.delivery-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.delivery-item+.delivery-item {
    margin-top: 12px;
}

.delivery-item {
    position: relative;
    padding-left: 37px;
}

.delivery-item::before {
    position: absolute;
    top: 11px;
    left: 0px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.company-contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 180px;
    margin-bottom: 34px;
    margin-left: -1px;
}

.company-contacts img {
    background-color: var(--special-yellowlight);
}

.company-contacts img:hover {
    box-shadow: 0px 4px 10px var(--manufacturers-shadow);
}

.company-contacts img:active {
    opacity: 0.5;
}

.button-about-us {
    min-width: 220px;
    padding-top: 11px;
    padding-bottom: 9px;
}

.button-write-us {
    padding: 11px 60px 9px;
    margin-top: 18px;
    min-width: 300px;
    padding-top: 11px;
    padding-bottom: 9px;
}

.footer-top {
    background-color: var(--basic-link);
    color: var(--white);
}

.footer-top-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 192px;
    ;
}

.footer-top-row-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.footer-logo {
    display: block;
    background-color: var(--basic-red);
    padding: 20px 0 14px 0;
    text-align: center;
    width: 220px;
    box-shadow: 0 5px 0 var(--logo-shadow);
}

.footer-logo:active {
    background-color: var(--error);
    box-shadow: 0 5px 0 var(--logo-shadow-active);
}

.footer-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    min-width: 550px;
    margin-bottom: 2px;
    margin-left: 150px;
}

.footer-navigation-item+.footer-navigation-item {
    margin-left: 58px;
}

.footer-navigation-link {
    color: var(--basic-background);
    margin-left: 3px;
    margin-right: -2px;
}

.footer-offers-link {
    color: var( --special-yellowlight);
}

.footer-navigation-link:hover,
.footer-offers-link:hover {
    text-decoration: underline;
}

.footer-navigation-link:active,
.footer-offers-link:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2px;
    color: var(--basic-background);
    width: 330px;
}

.footer-phone,
.footer-addres {
    margin: 0;
}

.footer-phone {
    margin-top: 1px;
    margin-left: 1px;
}

.footer-phone a {
    text-decoration: none;
    color: var(--basic-background);
}

.footer-phone a:hover {
    text-decoration: none;
    color: var(--basic-red);
}

.footer-phone a:active {
    text-decoration: none;
    color: var(--error);
}

.footer-offers-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-right: -1px;
    margin-left: 30px;
}

.footer-offers-link {
    margin-left: 2px;
}

.footer-offers-item+.footer-offers-item {
    margin-left: 58px;
}

.footer-bottom {
    background-color: var(--header-background);
    color: var(--white);
}

.footer-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.copyright {
    margin: 0;
    padding: 35px 0;
    font-size: 16px;
    line-height: 18px;
    width: 240px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 52px;
    margin-right: 5px;
    width: 140px;
}

.social-item+.social-item {
    margin-left: 3px;
}

.social-link {
    display: flex;
}

.social-link::before {
    content: "";
    background-color: var(--social-btn);
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.social-vk::before {
    background-image: url("../img/icon-vk.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.social-fb::before {
    background-image: url("../img/icon-fb.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.social-insta::before {
    background-image: url("../img/icon-insta.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.social-link:hover::before,
.social-link:active::before {
    background-color: var(--basic-red);
}

.developed-wrapper {
    margin: 0;
    padding: 34px 0;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 290px;
}

.developer-wrapper-row {
    display: flex;
    flex-direction: column;
}

.developer-wrapper-row:not(:last-child) {
    margin-right: 51px;
    margin-left: 5px;
}

.developed-label {
    font-size: 16px;
    line-height: 18px;
}

.developed-info {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

.developed-link {
    color: var(--special-yellowlight);
}

.developed-link:hover {
    text-decoration: underline;
}

.developed-link:active {
    color: var(--basic-red);
    text-decoration: none;
}


/* Каталог */

.page-catalog {
    font-family: "PT Sans", Arial, sans-serif;
}

.page-catalog-wrapper {
    display: grid;
    grid-template-columns: 220px 700px;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    gap: 20px;
}

.breadcrumbs-list {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    list-style: none;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item+.breadcrumbs-item {
    margin-left: 41px;
}

.breadcrumbs-item+.breadcrumbs-item::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-small.svg");
    width: 8px;
    height: 12px;
    top: 8px;
    left: -25px;
}

.breadcrumbs-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
}

.icon-home:hover path {
    fill: var(--basic-grey)
}

.icon-home:active path {
    fill: var(--icon-home)
}

.breadcrumbs-link[href]:hover {
    color: var(--basic-red)
}

.breadcrumbs-link[href]:active {
    color: var(--basic-grey)
}

.catalog-title {
    grid-column: 1/-1;
    grid-row: 2/3;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    padding-right: 29px;
    text-transform: uppercase;
    color: var(--basic-link);
    background-color: var(--catalog-title);
}

.filter {
    grid-column: 1/2;
    grid-row: 3/-1;
}

.filter-title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--filter-background);
    border-radius: 5px;
}

.filter-form {
    margin: 0;
    padding: 0;
}

.filter-field {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter-field:last-of-type {
    border: none;
}

.filter-field legend {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.filter-field .legend-manufacturers {
    margin-bottom: 7px;
}

.filter-field .legend-power {
    padding-top: 19px;
    margin-bottom: 12px;
}

.range-filter {
    width: 220px;
}

.range-controls {
    height: 80px;
    padding-top: 39px;
    padding-left: 19px;
    padding-right: 20px;
    margin-bottom: 7px;
    background-color: var(--filter-background);
    border-radius: 5px;
}

.scale {
    position: relative;
    width: 180px;
    height: 2px;
    background-color: var(--scale);
}

.bar {
    height: 2px;
    width: 80%;
    background-color: var(--scale-bar);
}

.toggle {
    position: absolute;
    width: 20px;
    height: 22px;
    top: -10px;
    left: 0;
    background-image: url("../img/filter-button.svg");
    cursor: pointer;
}

.toggle-min {
    left: 18px;
}

.toggle-min {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-controls input {
    width: 95px;
    height: 39px;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--filter-background);
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.price-controls span {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--output)
}

.filter-field-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-field-item {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding-left: 35px;
    margin-bottom: 21px;
}

.filter-field-item:last-child {
    margin: 0;
}

.filter-field-item label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.check-input+label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: -3px;
    left: -35px;
    background-image: url("../img/checkbox-off.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.check-input:checked+label::before {
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.radio-input+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: -3px;
    left: -35px;
    background-image: url("../img/radio-off.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.radio-input:checked+label::before {
    background-image: url("../img/radio-on.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.check-input:hover+label,
.check-input:focus+label,
.radio-input:hover+label,
.radio-input:focus+label {
    color: var(--basic-red);
}

.check-input:disabled+label::before,
.radio-input:disabled+label::before {
    opacity: 0.3;
}

.check-input:disabled+label,
.radio-input:disabled+label {
    opacity: 0.4;
}

.filter-button {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: var(--white);
    border: 1px solid var(--border-pag)
}

.filter-button:hover {
    border-color: var(--basic-greylight)
}

.filter-button:active {
    border-color: var(--basic-red)
}

.sorting {
    grid-column: 2/-1;
    grid-row: 3/4;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--filter-background);
    display: flex;
    border-radius: 5px;
}

.sorting p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    width: 240px;
    list-style: none;
}

.sorting-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 45px;
    width: 355px;
}

.sorting-link {
    color: var(--black-opacity);
    border-bottom: 1px dotted var(--basic-red);
}

.sorting-link:hover {
    color: var(--black);
    border-bottom: 1px solid var(--basic-red);
}

.sorting-link-active,
.sorting-link:active {
    color: var(--basic-red);
    border-bottom: none;
}

.sorting-minmax-list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 14px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    max-width: 100px;
}

.sorting-minmax-item+.sorting-minmax-item {
    margin-left: 21px;
}

.sorting-minmax-link:hover path {
    fill: var(--black);
}

.sorting-minmax-link-active path,
.sorting-minmax-link:active path {
    fill: var(--basic-red);
}

.catalog {
    grid-column: 2/-1;
    grid-row: 4;
    margin-top: 9px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.catalog-item {
    display: flex;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 18px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-article {
    margin: 0;
    padding: 0;
    width: 220px;
    min-height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-pag);
    padding-bottom: 21px;
    position: relative;
}

.flag-new::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: -1px;
    right: -1px;
    background-image: url("../img/new-flag.svg");
}

.offers-list .flag-new::after {
    top: 0px;
    right: 0px;
}

.catalog-image {
    display: flex;
    justify-content: center;
    margin: auto;
}

.catalog-image img {
    margin-right: 10px;
    margin-bottom: 5px;
}

.catalog-article-offer {
    display: none;
}

.catalog-article:hover {
    box-shadow: 0px 4px 20px var(--article-shadow);
}

.catalog-article:hover .catalog-image {
    display: none;
}

.catalog-article:hover .catalog-article-offer {
    display: block;
}

.catalog-info {
    display: flex;
    min-height: 120px;
    flex-direction: column;
    align-items: center;
}

.catalog-article-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 25px;
    margin-top: 3px;
    margin-bottom: auto;
    text-align: center;
}

.catalog-article-old-price {
    font-weight: bold;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: line-through;
    color: var(--old-price);
    margin: 0 10px 13px 10px;
    padding: 0;
}

.catalog-article-price {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 5px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    min-width: 121px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    position: relative;
    margin-left: 15px;
    margin-right: 20px;
    border-radius: 0 5px 5px 0;
}

.catalog-article-price::after {
    position: absolute;
    content: "";
    right: -35px;
    top: 0px;
    border: solid 19px transparent;
    border-left-color: var(--basic-red);
}

.catalog-article-price:active {
    background-color: var(--error);
}

.catalog-article-price:active::after {
    border-left-color: var(--error)
}

.btn-buy {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: block;
    min-width: 135px;
    margin-top: 37px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0 10px 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-green);
    border-radius: 2px;
    box-shadow: inset 0px -3px 0px var(--button-shadow);
    position: relative;
}

.btn-buy::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 28px;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
}

.btn-buy:hover {
    background-color: var(--success);
}

.btn-buy:active {
    background-color: var(--buy-activ);
}

.btn-bookmark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: block;
    min-width: 135px;
    padding: 8px 6px 6px 2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-link);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
}

.btn-bookmark:hover {
    border-color: var(--basic-link);
}

.btn-bookmark:active {
    opacity: 0.5;
}

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.pagination-item+.pagination-item {
    margin-left: 10px;
    margin-bottom: 10px;
}

.pagination-link {
    display: block;
    min-width: 38px;
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center;
}

.pagination-link-next {
    min-width: 140px;
}

.pagination-link[href] {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    border: 1px solid var(--border-pag);
    border-radius: 2px;
}

.pagination-link[href]:hover {
    border-color: var(--basic-greylight);
}

.pagination-link[href]:active {
    border-color: var(--basic-red);
}

.pagination-link-active {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 2px;
    color: var(--white);
    background-color: var(--basic-red);
}

.artical-info {
    background-color: var(--basic-background);
    padding-top: 64px;
    padding-bottom: 68px;
}

.artical-info-title {
    padding-bottom: 24px;
}

.info p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}


/* Попапы */

.popup-write-us-form {
    display: none;
    position: fixed;
    top: 100px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 620px;
    z-index: 20;
    box-shadow: 0 -7px 0 0 var(--basic-red), 0px 4px 20px var(--manufacturers-shadow);
}

.write-us-form {
    margin: 0;
    padding: 0;
}

.write-us-form-wrapper {
    padding-top: 39px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--white);
}

.write-us-label {
    margin: 0;
    padding: 0;
    margin-bottom: 11px;
}

.write-us-input {
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-bottom: 13px;
    border: 2px solid var(--basic-greylight);
    border-radius: 2px;
    color: var(--black);
    font-size: 13px;
    line-height: 24px;
    padding: 3px 10px;
}

.write-us-input[type="text"],
.write-us-input[type="email"] {
    min-height: 38px;
}

.popup-write-us-form textarea {
    min-height: 114px;
}

.write-us-input::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.write-us-input::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.write-us-input::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.form-wrapper-half,
.form-wrapper-full {
    display: flex;
    flex-direction: column;
}

.form-wrapper-half {
    width: 220px;
}

.form-wrapper-half:first-child {
    margin-right: 20px
}

.form-wrapper-full {
    width: 460px;
}

.popup-footer {
    width: 100%;
    background-color: var(--popup-background);
}

.write-us-submit {
    border: none;
    padding: 11px 0 9px 0;
    background-color: var(--basic-red);
    color: var(--white);
    margin-top: 37px;
    margin-bottom: 37px;
    padding-top: 11px;
    padding-bottom: 9px;
    min-width: 460px
}

.write-us-submit:active {
    background-color: var(--error);
}

.write-us-label {
    font-size: 18px;
    line-height: 24px;
}

.popup-map-full {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 943px;
    height: 442px;
    z-index: 20;
    box-shadow: 0 -7px 0 0 var(--basic-red), 0px 4px 20px var(--manufacturers-shadow);
}

.popup-map-full iframe {
    position: relative;
    z-index: 0;
    border: none;
}

.popup-map-full p {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.image-big-map {
    position: absolute;
}

.popup-in-cart {
    display: none;
    position: fixed;
    top: 150px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 620px;
    z-index: 60;
    box-shadow: 0 -7px 0 0 var(--basic-red), 0px 4px 20px var(--manufacturers-shadow);
}

.popup-in-cart h2 {
    margin: 0;
    padding: 0;
    padding-top: 66px;
    padding-bottom: 67px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    background-color: var(--white);
}

.popup-in-cart h2::before {
    position: absolute;
    top: 49px;
    left: 81px;
    content: "";
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
}

.popup-footer {
    text-align: center;
}

.button-in-cart-red {
    margin-top: 39px;
    margin-bottom: 37px;
    margin-right: 2px;
    margin-left: 0px;
    min-width: 192px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
    padding-right: 9px;
}

.button-in-cart-white {
    background-color: var(--white);
    color: var(--black);
    margin-top: 37px;
    margin-bottom: 37px;
    min-width: 192px;
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 9px;
    text-align: center;
}

.button-in-cart-white:active {
    opacity: 0.5;
    background-color: var(--white);
}

.button-popup-close {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 14px;
    right: 11px;
    background-image: url("../img/icon-close.svg");
    border: none;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.button-popup-close:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.button-popup-close:active {
    opacity: 0.5;
}

.popup-write-us-open,
.popup-open {
    display: block;
    -webkit-animation: write-us-open 1s;
    animation: write-us-open 1s;
}

.popup-in-cart-open {
    display: block;
}

.popup-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

@-webkit-keyframes write-us-open {
    0% {
        transform: translateY(370px);
    }
    100% {
        transform: translateY(0), ;
    }
}

@keyframes write-us-open {
    0% {
        transform: translateY(370px);
    }
    100% {
        transform: translateY(0), ;
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}